In [1]:
import pandas as pd
import requests

In [5]:
response2008 = []
for i in range(1, 19):
    link = 'http://ergast.com/api/f1/2008/' + str(i) + '/driverStandings.json'
    response2008.append(requests.get(link).json())
lead_score = [0]
HAM_score = [0]
MAS_score = [0,0,0]

for response in response2008:
    lead_score.append(response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][0]['points'])
    for standing in response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        if standing['Driver']['code'] == "HAM":
            HAM_score.append(standing['points'])
        if standing['Driver']['code'] == "MAS":
            MAS_score.append(standing['points'])


response2008quali = []
for i in range(1, 19):
    link = 'http://ergast.com/api/f1/2008/' + str(i) + '/qualifying.json'
    response2008quali.append(requests.get(link).json())
lead_quali08 = []
HAM_quali = []
MAS_quali = []
for response in response2008quali:
    lead_quali08.append(response['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Q3'])
    for quali in response['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        if quali['Driver']['code'] == 'MAS':
            if 'Q3' in quali:
                MAS_quali.append(quali['Q3'])
            else:
                MAS_quali.append(100)
        if quali['Driver']['code'] == 'HAM':
            if 'Q3' in quali:
                HAM_quali.append(quali['Q3'])
            else:
                HAM_quali.append(100)

df_2008 = pd.DataFrame(list(zip(lead_score, HAM_score, MAS_score, lead_quali08, HAM_quali, MAS_quali)), columns = ['Leading Score', 'HAM Score', 'MAS Score', 'Fastest Quali', 'HAM Quali', 'MAS Quali'])
df_2008.head(18)

   Leading Score HAM Score MAS Score Fastest Quali HAM Quali MAS Quali
0              0         0         0      1:26.714  1:26.714  1:27.178
1             10        10         0      1:35.748  1:36.709  1:35.748
2             14        14         0      1:33.096  1:33.292  1:33.123
3             19        14        10      1:21.813  1:22.096  1:22.058
4             29        20        18      1:27.617  1:27.923  1:27.617
5             35        28        28      1:15.787  1:15.839  1:15.787
6             38        38        34      1:17.886  1:17.886  1:19.048
7             42        38        38      1:16.449  1:16.693  1:16.490
8             48        38        48      1:21.049  1:21.835  1:23.305
9             48        48        48      1:15.666  1:15.666  1:15.859
10            58        58        54      1:20.899  1:20.899  1:21.191
11            62        62        54      1:38.989  1:39.199  1:38.989
12            70        70        64      1:47.338  1:47.338  1:47.678
13            76        76        74      1:37.555       100  1:38.894
14            78        78        77      1:44.801  1:45.465  1:44.801
15            84        84        77      1:18.404  1:18.404  1:18.874
16            84        84        79      1:36.303  1:36.303  1:36.889
17            94        94        87      1:12.368  1:12.830  1:12.368

In [8]:
response2012 = []
for i in range(1, 21):
    link = 'http://ergast.com/api/f1/2012/' + str(i) + '/driverStandings.json'
    response2012.append(requests.get(link).json())
lead_score12 = [0]
VET_score = [0]
ALO_score = [0]

for response in response2012:
    lead_score12.append(response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][0]['points'])
    for standing in response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        if standing['Driver']['code'] == "VET":
            VET_score.append(standing['points'])
        if standing['Driver']['code'] == "ALO":
            ALO_score.append(standing['points'])


response2012quali = []
for i in range(1, 21):
    link = 'http://ergast.com/api/f1/2012/' + str(i) + '/qualifying.json'
    response2012quali.append(requests.get(link).json())
lead_quali12 = []
VET_quali = []
ALO_quali = []
for response in response2012quali:
    lead_quali12.append(response['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Q3'])
    for quali in response['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        if quali['Driver']['code'] == 'VET':
            if 'Q3' in quali:
                VET_quali.append(quali['Q3'])
            else:
                VET_quali.append(100)
        if quali['Driver']['code'] == 'ALO':
            if 'Q3' in quali:
                ALO_quali.append(quali['Q3'])
            else:
                ALO_quali.append(100)

df_2012 = pd.DataFrame(list(zip(lead_score12, VET_score, ALO_score, lead_quali12, VET_quali, ALO_quali)), columns = ['Leading Score', 'VET Score', 'ALO Score', 'Fastest Quali', 'VET Quali', 'ALO Quali'])
df_2012.head(20)

   Leading Score VET Score ALO Score Fastest Quali VET Quali ALO Quali
0              0         0         0      1:24.922  1:25.668       100
1             25        18        10      1:36.219  1:36.634  1:37.566
2             35        18        35      1:35.121       100  1:36.622
3             45        28        37      1:32.422  1:32.422       100
4             53        53        43      1:21.707       100  1:22.302
5             61        61        61      1:14.301       100  1:14.948
6             76        73        76      1:13.784  1:13.784  1:14.151
7             88        85        86      1:38.086  1:38.086       100
8            111        85       111      1:51.746  1:52.199  1:51.746
9            129       100       129      1:40.621  1:41.026  1:40.621
10           154       110       154      1:20.953  1:21.416  1:21.844
11           164       122       164      1:47.573       100  1:48.313
12           164       140       164      1:24.010  1:24.802  1:25.678
13           179       140       179      1:46.362  1:46.905  1:47.216
14           194       165       194      1:30.839  1:30.839  1:32.114
15           194       190       194      1:37.242  1:37.316  1:37.534
16           215       215       209      1:25.283  1:25.283  1:25.773
17           240       240       227      1:40.630  1:41.073  1:41.582
18           255       255       245      1:35.657  1:35.657  1:37.300
19           273       273       260      1:12.458  1:12.760  1:13.253

In [9]:
response2016 = []
for i in range(1, 22):
    link = 'http://ergast.com/api/f1/2016/' + str(i) + '/driverStandings.json'
    response2016.append(requests.get(link).json())
lead_score16 = [0]
ROS_score = [0]
HAM2_score = [0]

for response in response2016:
    lead_score16.append(response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][0]['points'])
    for standing in response['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        if standing['Driver']['code'] == "ROS":
            ROS_score.append(standing['points'])
        if standing['Driver']['code'] == "HAM":
            HAM2_score.append(standing['points'])


response2016quali = []
for i in range(1, 22):
    link = 'http://ergast.com/api/f1/2016/' + str(i) + '/qualifying.json'
    response2016quali.append(requests.get(link).json())
lead_quali16 = []
ROS_quali = []
HAM2_quali = []
for response in response2016quali:
    lead_quali16.append(response['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Q3'])
    for quali in response['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        if quali['Driver']['code'] == 'ROS':
            if 'Q3' in quali:
                ROS_quali.append(quali['Q3'])
            else:
                ROS_quali.append(100)
        if quali['Driver']['code'] == 'HAM':
            if 'Q3' in quali:
                HAM2_quali.append(quali['Q3'])
            else:
                HAM2_quali.append(100)

df_2012 = pd.DataFrame(list(zip(lead_score16, ROS_score, HAM2_score, lead_quali16, ROS_quali, HAM2_quali)), columns = ['Leading Score', 'ROS Score', 'HAM Score', 'Fastest Quali', 'ROS Quali', 'HAM2 Quali'])
df_2012.head(21)

   Leading Score ROS Score HAM Score Fastest Quali ROS Quali HAM2 Quali
0              0         0         0      1:23.837  1:24.197   1:23.837
1             25        25        18      1:29.493  1:29.570   1:29.493
2             50        50        33      1:35.402  1:35.402        100
3             75        75        39      1:35.417  1:35.417        100
4            100       100        57      1:22.000  1:22.280   1:22.000
5            100       100        57      1:13.622  1:13.791   1:13.942
6            106       106        82      1:12.812  1:12.874   1:12.812
7            116       116       107      1:42.758  1:42.758   2:01.954
8            141       141       117      1:07.922  1:08.465   1:07.922
9            153       153       142      1:29.287  1:29.606   1:29.287
10           168       168       167      1:19.965  1:19.965   1:20.108
11           192       186       192      1:14.363  1:14.363   1:14.470
12           217       198       217      1:46.744  1:46.744        100
13           232       223       232      1:21.135  1:21.613   1:21.135
14           250       248       250      1:42.584  1:42.584   1:43.288
15           273       273       265      1:32.850  1:33.264   1:32.850
16           288       288       265      1:30.647  1:30.647   1:30.660
17           313       313       280      1:34.999  1:35.215   1:34.999
18           331       331       305      1:18.704  1:18.958   1:18.704
19           349       349       330      1:10.736  1:10.838   1:10.736
20           367       367       355      1:38.755  1:39.058   1:38.755

In [43]:
print(HAM2_quali)

['1:23.837', '1:29.493', 100, 100, '1:22.000', '1:13.942', '1:12.812', '2:01.954', '1:07.922', '1:29.287', '1:20.108', '1:14.470', 100, '1:21.135', '1:43.288', '1:32.850', '1:30.660', '1:34.999', '1:18.704', '1:10.736', '1:38.755']